
#ConfigScreen {
    background-image: url('./images/Configuration2.png');
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
#defaultTemperature 
{
  position: absolute;
  left : 740px ;
  top : 184px;
  font-size: 28px; 
}
#CycleTime 
{
  position: absolute;
  left : 750px ;
  top : 281px;
  font-size: 28px; 
}
/* #CycleCount 
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  left : 740px ;
  top : 378px;
  width:100px;
  height:50px;
} */
#buttonApply 
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  left : 825px ;
  top : 504px;
  width:100px;
  height:50px;
}
#return  
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  left : 32px ;
  top : 31px;
  width:20px;
  height:20px;
}


#plusTemperature 
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  left : 828px ;
  top : 181px;
  width:100px;
  height:100px;
}

#minusTemperature 
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  left : 663px ;
  top : 181px;
  width:100px;
  height:100px;
}

#plusCycle
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  left : 829px ;
  top : 277px;
  width:100px;
  height:100px;
}
#minusCycle
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  left : 663px ;
  top : 277px;
  width:100px;
  height:100px;
}
#reset
{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: absolute;
  left : 740px ;
  top : 378px;
  width:100px;
  height:100px;
}


